.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 4rem;
  font-family: "Russo One", monospace;
  letter-spacing: 0.2rem;
  font-size: 1.4rem;
  white-space: nowrap;
}

.header-menuItem {
  margin: 0rem 1.5rem;
  list-style-type: none;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;

  &:hover {
    color: white;
    transform: translateY(-0.1rem);
  }
}
